@page "/about"

<link rel="stylesheet" href="custom.css" />
<PageTitle>Biography</PageTitle>


<div style="width: 100%; overflow: hidden;">
    
    <div style="width: 400px; float: left;"> 
        <img src="https://drive.google.com/file/d/1UkBhTPOczWP4ZNG7mCNdhIWgWDcIJxzd/view?usp=sharing" alt="Nathan Selfie in Korea" />
    </div>
    <div style="margin-left: 620px;"> 
        <h1>Biography</h1>
        <h2>Who is Nathan Choi?</h2>
        <ul>
            <li>Born August, 16 2006</li>
            <li>Lived in South Korea, Italy, Lativa, and United States</li>
            <li>Traveled to over 13 european countries</li>
            <li>Did swimming, taekwondo, and a little bit of tennis</li>
        </ul>
    </div>
</div>







