@page "/education"
<link rel="stylesheet" href="custom.css" />
<PageTitle>Education</PageTitle>

<h1>Education</h1>
@* <ul>
    <li>Tahoma High School</li>
    <li>The Coder School</li>
    <li>Cal State Fullerton</li>
   </ul> *@

<div class="education_bullet">
    <div class="first_half">
        <img class="education_image" src="https://images.squarespace-cdn.com/content/v1/5c721a23348cd924480428cd/c6ac698f-9bd1-4d0f-b26f-5c1c60c22249/Tahoma+Bears+Logo.jpg" />
    </div>
    <div class="second_half">
        <h4>Tahoma High School</h4>
        <p>September 2020-June 2024</p>
        <p>High School Diploma</p>
    </div>
</div>

<div class="education_bullet">
    <div class="first_half">
        <img class="education_image" src="https://patch.com/img/biz/sites/default/files/users/23056733/20180810130521/logocircle-white.png" />
    </div>
    <div class="second_half">
        <h4>The Coder School</h4>
        <p>March 2018-June 2020</p>
        <p>Experience in Coding</p>
    </div>
</div>

<div class="education_bullet">
    <div class="first_half">
        <img class="education_image" src="https://odmtesting.com/wp-content/uploads/2017/05/Cal-State-Fullerton-Logo.png" />
    </div>
    <div class="second_half">
        <h4>Cal State Fullerton</h4>
        <p>August 2024-June 2028</p>
        <p>Degree in B.S. Computer Science</p>
    </div>
</div>

<div class="education_bullet">
</div>




