@page "/"
<link rel="stylesheet" href="custom.css"/>
<PageTitle>Home</PageTitle>

<h1>Welcome to my programming Portfolio! NATHAN TIME!!!</h1>
<div>
    <h2>Current Projects</h2>
    <ul> 
        <li>Nathan's Snake Game</li>
        <li>Bibliography Website</li>
    </ul>
    <h2>Short-Goal Projects</h2>
    <ul>
        <li>Modified Calculator</li>
        <li>To-Do List App</li>
        <li>Number Guessing Game</li>
    </ul>
    <h2>Long-Goal Projects</h2>
    <ul>
        <li>Portfolio Website</li>
    </ul>
</div>




<!--<h1>I am an intern fixing a big bug at NATHANCORP!</h1>-->
