@page "/"
<link rel="stylesheet" href="custom.css"/>
<PageTitle>Home</PageTitle>

<h1>Welcome to my programming Portfolio! NATHAN TIME!!!</h1>
<div>
    <h2>Current Projects</h2>
    <ul> 
        <li>Nathan's Snake Game</li>
        <li>Bibliography/Portfolio Website</li>
    </ul>
    <h2>AI Projects</h2>
    <ul>
        <li>Data Accuracy Machine Learning Model</li>
    </ul>
    <ul>
        <li>Basic Image Classification Vision Model</li>
    </ul>
    <ul>
        <li>Field of Study Info Model</li>
    </ul>
    <ul>
        <li>Augmented Reality Advanced Model</li>
    </ul>

</div>




<!--<h1>I am an intern fixing a big bug at NATHANCORP!</h1>-->
