@page "/"
<link rel="stylesheet" href="custom.css"/>
<PageTitle>Home</PageTitle>

<h1>Welcome to my programming Portfolio!</h1>
<div>
    <h2>Current Projects</h2>
    <ul>
        <li>Data Accuracy Prediction Model</li>
    </ul>
    <ul>
        <li>Algoverse PLM ML Research Project</li>
    </ul>
    <h2>OpenQQuantify Project</h2>
    <ul>
        <li>Sentiment Analysis Model</li>
    </ul>
    <ul>
        <li>OpenQQuantify Books</li>
    </ul>

</div>
