@page "/"
<link rel="stylesheet" href="custom.css"/>
<PageTitle>Home</PageTitle>

<h1>Welcome to my programming Portfolio! NATHAN TIME!!!</h1>
<div>
    <h2>Current Projects</h2>
    <ul> 
        <li>Nathan's Snake Game</li>
        <li>Bibliography/Portfolio Website</li>
    </ul>
    <h2>Easy AI Projects</h2>
    <ul>
        <li>Image Generator</li>
    </ul>
    <h2>Intermediate AI Project</h2>
    <ul> 
        <li>AI Chatbot</li>
    </ul>
    <h2>Hard AI Project</h2>
    <ul>
        <li>Stock Price Predictor</li>
    </ul>

</div>




<!--<h1>I am an intern fixing a big bug at NATHANCORP!</h1>-->
