@page "/"
<link rel="stylesheet" href="custom.css"/>
<PageTitle>Home</PageTitle>

<h1>Welcome to my programming Portfolio!</h1>
<div>
    <h2>Current Projects</h2>
    <ul> 
        <li>Nathan's Snake Game</li>
        <li>Bibliography/Portfolio Website</li>
    </ul>
    <h2>AI Projects</h2>
    <ul>
        <li>Data Accuracy Machine Learning Model</li>
    </ul>
    <ul>
        <li>Vehicle Object Classification Image Model</li>
    </ul>
    <ul>
        <li>Drinking Water Vision Model</li>
    </ul>
    <ul>
        <li>Object Classification Vision Model</li>
    </ul>
    <h2>Tomorrow's AI Project</h2>
    <ul>
        <li>Sentiment Analysis Model</li>
    </ul>

</div>




<!--<h1>I am an intern fixing a big bug at NATHANCORP!</h1>-->
