@page "/interests"
<link rel="stylesheet" href="interests.css" />
<PageTitle>Interests</PageTitle>

<div class="first_center">
    <h1>Interests</h1>
</div>

<div class="second_center"> 
    <h2>Favorite Interests</h2>
    <ul>
        <li>Computer Programming</li>
        <li>Listening to Music</li>
        <li>Tech Reviews</li>
        <li>Writing Stories</li>
    </ul>
    <h2>Try Something New</h2>
    <ul> 
        <li>Web Development & App Making</li>
        <li>Learn New Programming Techniques</li>
        <li>Cooking</li>
    </ul>
</div>