@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
li, h1, h2 {
    font-family: 'Abril Fatface', sans-serif;
}

.first_center {
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.second_center {
    margin: auto;
    width: 35%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

body {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    color: white;
}